.container-footer {
  margin-top: 20px !important;
  width: 100%;
  padding-top: 20px;
  padding-right: 180px;
  padding-left: 180px;
  justify-content: space-around;
}

.footer-style {
  color: #fff;
  display: block;
  max-width: 100%;
  margin: 0 auto;
  border: 1px solid rgba(0, 0, 0, 0.06);
  background: linear-gradient(95.33deg, #4facfe 3.84%, #00f2fe 97.59%);
}

.footer-ul {
  list-style: none;
}